/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*
 * =========================================================================
 * All the CSS for the actual webpage (free from the boilerplate) goes here.
 * =========================================================================
 */

/*
 * Variables
 */

:root {
  --text-color: #575757;
  --background-color: #f8f8f8;
  --gradient: linear-gradient(
    90deg,
    #0059ff,
    #003cff,
    blue,
    #4000ff,
    indigo,
    #5c00bf,
    #771eda,
    #b700ff,
    #e600ff,
    #b700ff,
    #771eda,
    #7b00ff,
    indigo,
    #4000ff,
    blue,
    #003cff,
    #0059ff
  )
}

/*
 * General Styling
 */

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Cyr Medium", "Arial", sans-serif;
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 10fr 1fr;
  background-color: var(--background-color);
}

p {
  color: var(--text-color);
}

section h1 {
  font-size: 2em;
  margin: 0.625em 0
}

section {
  width: 100%;
}

main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "home"
    "home-extension"
    "projects"
    "about";
}

/*
 * Class Styling
 */

/*
 * ID Styling
 */

#home-section {
  grid-area: home;
  display: grid;
  grid-template-areas:
    "nav-bar-padding"
    "intro"
    "links";
  justify-items: center;
  align-items: center;
  grid-template-rows: 3fr 14fr 2fr;
  width: 100vw;
  height: 100vh;
}

#home-section__introduction {
  grid-area: intro;
  translate: 0 -10%;
}

#home-section h1, #home-section h2 {
  margin: 0;
  text-align: center;
}

#home-section h1 {
  font-size: 24em;
  font-family: "Avenir Next Cyr Heavy", sans-serif;

  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  transition: background-position 1s;
  animation: GradientAnimation 20s linear infinite;
  animation-delay: 0s;
}

@keyframes GradientAnimation {
  0% {background-position: 0 50%}
  100% {background-position: 400% 50%}
}

#home-section h2 {
  font-size: 4em;
}

#home-section h2:first-child {
  margin-bottom: -1.5em;
}

#home-section h2:last-child {
  margin-top: -1em;
}

#home-section-extension {
  grid-area: home-extension;
  padding-top: 5em;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#home-section-extension h3 {
  max-width: min(90%, 60ch);
}

#home-section-extension p {
  max-width: min(70%, 45ch)
}

#home-section-extension h3 {
  font-weight: normal;
  margin-left: clamp(0.5em, 6vw, 10em);
  font-size: 2.5em;
}

#home-section-extension p {
  font-size: 1.5em;
  text-align: right;
  margin-right: 6vw;
  margin-left: auto;
}

#projects-section {
  grid-area: projects;
}


@media (max-width: 108em) {
  #home-section h1 {
    font-size: 22.2vw;
  }
  #home-section h2 {
    font-size: 3.7vw;
  }

  #home-section-extension h3 {
    font-size: max(1.1em, 2.32vw);
  }

  #home-section-extension p {
    font-size: max(0.9em, 1.39vw);
  }
}
