/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*
 * =========================================================================
 * All the CSS for the actual webpage (free from the boilerplate) goes here.
 * =========================================================================
 */

/*
 * Variables and Fonts
 */

:root {
  --text-color: #575757;
  --background-color: #f8f8f8;
  --central-width: clamp(30em, 52%, 80em);
}

@font-face {
  font-family: AvenirNextCyrMedium;
  src: url("../font/AvenirNextCyr-Medium.woff2");
}

@font-face {
  font-family: AvenirNextCyrHeavy;
  src: url("../font/AvenirNextCyr-Heavy.woff2");
}

@font-face {
  font-family: AvenirNextCyrDemi;
  src: url("../font/AvenirNextCyr-Demi.woff2");
}


/*
 * General Styling
 */

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextCyrMedium", "Arial", sans-serif;
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 10fr 1fr;
  background-color: var(--background-color);
}

p {
  color: var(--text-color);
}

section {
  width: 100%;
}

section h1 {
  font-size: 2em;
  margin: 0.625em 0
}

main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "home"
    "home-extension"
    "projects"
    "about";
}

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  margin: 0;

}

footer div {
  display: flex;
  background-color: transparent;
  width: var(--central-width);
  justify-content: space-between;
  align-items: center;
}

footer div a {
  color: var(--text-color);
  text-decoration: none;
}

/*
 * Class Styling
 */

.projects-section__horizontal-rule {
  align-self: center;
  width: calc(var(--central-width) + 5vw);
}

.projects-section__item {
  grid-area: projects;
  display: grid;
  align-self: center;
  grid-template-areas:
    "description image";
  grid-template-columns: 1.1fr 1fr;
  width: var(--central-width);
  column-gap: 5em;
}

.projects-section__item figure {
  grid-area: image;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  width: 30em;
  height: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  border-radius: 1em;
}

.projects-section__item img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 13/9;
}

.projects-section__item__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.projects-section__item__description h3 {
  font-family: "AvenirNextCyrDemi", "Arial", sans-serif;
  font-size: 2em;
  margin: 0
}

.projects-section__item__description p {
  margin-top: 0.4em;
  margin-bottom: 1.2em;
}

.projects-section__item__tags {
  display: flex;
  gap: 0.5em;
}

.projects-section__item__tag {
  display: flex;
  font-size: 0.9em;
  width: max-content;
  align-items: center;
  text-align: center;
  padding-inline: 1em;
  padding-bottom: 0.1em;
  background: #DDDDDD;

  color: #222222;
  border: transparent;
  border-radius: 2em;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  font-weight: bold;
}


/*
 * ID Styling
 */

#home-section {
  grid-area: home;
  display: grid;
  grid-template-areas:
    "nav-bar-padding"
    "intro"
    "links";
  justify-items: center;
  align-items: center;
  grid-template-rows: 3fr 14fr 2fr;
  width: 100vw;
  height: 100vh;
}

#home-section__introduction {
  grid-area: intro;
  translate: 0 -10%;
}

#home-section h1, #home-section h2 {
  margin: 0;
  text-align: center;
}

#home-section h1 {
  font-size: 24em;
  font-family: "AvenirNextCyrHeavy", "Impact", "Arial Black", sans-serif;
  --gradient: linear-gradient(
    90deg,
    #0059ff,
    #003cff,
    blue,
    #4000ff,
    indigo,
    #5c00bf,
    #771eda,
    #b700ff,
    #e600ff,
    #b700ff,
    #771eda,
    #7b00ff,
    indigo,
    #4000ff,
    blue,
    #003cff,
    #0059ff
  );

  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  transition: background-position 1s;
  animation: GradientAnimation 20s linear infinite;
  animation-delay: 0s;
}

@keyframes GradientAnimation {
  0% {background-position: 0 50%}
  100% {background-position: 400% 50%}
}

#home-section h2 {
  font-size: 4em;
}

#home-section h2:first-child {
  margin-bottom: -1.5em;
}

#home-section h2:last-child {
  margin-top: -1em;
}

#home-section-extension {
  grid-area: home-extension;
  padding-top: 5em;
  display: grid;
  grid-template-rows: 2fr 1fr 0.5fr;
}

#home-section-extension h3 {
  max-width: min(90%, 60ch);
}

#home-section-extension p {
  max-width: min(70%, 45ch)
}

#home-section-extension h3 {
  font-weight: normal;
  margin-left: clamp(0.5em, 6vw, 10em);
  font-size: 2.5em;
}

#home-section-extension p {
  font-size: 1.5em;
  text-align: right;
  margin-right: 6vw;
  margin-left: auto;
}

#home-section-extension a {
  display: flex;
  font-size: 1.2em;
  align-items: center;
  text-align: center;
  margin-right: 6vw;
  margin-left: auto;
  padding: 0 1em;
  background: transparent;

  color: black;
  border: 0.06125em solid black;
  border-radius: 2em;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#home-section-extension a:hover {
  background: #0059ff;
  color: white;
  border: 0.06125em solid #0059ff;
}

#projects-section {
  margin-top: 8em;
  display: grid;
  grid-area: projects;
  grid-template-areas:
    "header-separator"
    "header"
    "projects"
    "footer-separator";
}

#projects-section h2 {
  text-align: center;
  font-size: 3.5em;
  margin-top: 3em;
  margin-bottom: 2em;
}

#projects-section__items-container {
  grid-area: projects;

  margin-top: 4em;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

#about-section {
  grid-area: about;
  margin-inline: auto auto;
  margin-top: 5em;
  width: calc(var(--central-width) + 12vw);
  padding: 1em;
  border-radius: 2em;
  background: white;

  height: max-content;

  display: grid;
  grid-template-areas:
  "profile-image descriptionx";
}

#about-section figure {
  object-fit: cover;
}

#about-section figure img {
  height: 30em;
  border-radius: 2em;
}

#about-section div {
  margin-right: auto;
}

#about-section h2 {
  font-size: 3em;
}

@media (max-width: 108em) {
  #home-section h1 {
    font-size: 22.2vw;
  }
  #home-section h2 {
    font-size: 3.7vw;
  }

  #home-section-extension h3 {
    font-size: max(1.1em, 2.32vw);
  }

  #home-section-extension p {
    font-size: max(0.9em, 1.39vw);
  }
}
